<div id="changeBody">
    <div class="box" id="changeBox">
        <h1 class="titulo1" id="changeTitulo1"> Cambio de contraseña</h1>
        <p id="changeText">te enviaremos un link a tu correo para que puedas restablecer tu contraseña</p>
        <form id="changeForm" action="/api/sessions/changePassword" method="post">
            <input class="inputs" id="changeInput" type="email" name="email" placeholder="Email" required="required">
            <button class="btn" id="changeBtn" type="submit">enviar mail</button>
        </form>
    </div>

</div>