<div id="changeBody">
    <div class="box" id="changeBox">
        <h1 class="titulo1" id="changeTitulo1"> Escribe la nueva clave</h1>
        <form id="changeForm" action="/api/sessions/newPassword" method="post">
            <input class="inputs" id="changeInput" type="password" name="password" placeholder="contraseña nueva" required="required">
            <button class="btn" id="changeBtn" type="submit">guardar clave</button>
        </form>
    </div>

</div>