<div id="changeBody">
    <div class="box" id="sentBox">
        <h1 class="titulo1" id="changeTitulo1"> Cambio de contraseña</h1>
        <p id="sentText">el correo ya fue enviado, si no lo encuentras revisa la casilla de spam </p>
    </div>

</div>